*{
    margin: 5px;
    padding: 1px;
}
body{
    background-color: #303F9F;
    background-image: url(../public/images/searchBackground.jpg);

}

/* Header Footer  */

.HeaderFooterColorBar{
    height: 4px;
    background-color: rgb(141, 39, 39);
}

.Logo{
    color: #fff;
}

.Copyright{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}

/* Search Container */

.Home-Container{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home-Hero-Container{
    font-size: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.input-field{
    padding: 10px;
}

.search-field{
    height: 40px;
    width: 365px;
    font-size:large;
}
.btn{
    height: 30px;
    width: 70px;
}

/* Movie List Display */

.MovieListItem{
    display: flex; 
    /* justify-content:flex-start; */
    flex-wrap: wrap;
    width: auto;
    border-style: groove;
    background-color: #3F51B5 ;
    color: #fff;
}

.Movie-Card-Container{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: block;
    border: solid #000 3px ;
}

.Movie-Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid
}

.poster-image{
    height: auto;
    width: 145px;
    box-shadow: 3px 3px 3px #000;
    padding: auto;
}

img{
    position: relative;
    height: 200px
}

.MovieCardContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-large;
    font-weight: 400;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;
}



.individualMovieCard {
    height: auto;
}

.Card-header{
    font-family: 'Typo Square Bold Demo';
    font-weight: 500;
    color: 'black'

}

/*  Movie Details */

.movieTags{
    position: relative;
	margin: 0 10px;
	padding: 0;
}

.movieTags li{
    position: relative;
	list-style: none;
	display: inline-block;
	background-color: #ccc;
	margin: 0;
	padding: 3px 7px;
	border-radius: 5px;
    box-shadow: 3px 5px 5px #000;
    color: #000;
}

