*{
    margin: 5px;
    padding: 1px;
}
body{
    background-color: #303F9F;
    background-image: url(../public/images/searchBackground.jpg);

}

/* Header Footer  */

.HeaderFooterColorBar{
    height: 4px;
    background-color: rgb(141, 39, 39);
}

.Logo{
    font-size: 20px;
    font-weight: 450;
    color: #fff;
}

.Copyright{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}

/* Search Container */
.form-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Home-Container{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home-Hero-Container{
    font-size: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.input-field{
    padding: 10px;
}

.search-field{
    height: 40px;
    width: 365px;
    font-size:large;
}
.Button{
    background-color: rgb(31, 31, 192);
    color: white;
    font-size: large;
    height: 40px;
    width: 100px;
}

.search-type{
    font-size: large;
    height: 40px;
    width: 200px;
}

/* Movie List Display */

.MovieListItem{
    display: flex; 
    flex-wrap: wrap;
    width: auto;
    border: 2px groove black;
    background-color: #3F51B5 ;
    color: #fff;
}

.Movie-Card-Container{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: block;
    border: solid #000 3px ;
    transition: all .2s ease-in-out;
}

.Movie-Card-Container:hover{
    transform: scale(1.009);
    box-shadow: 3px 3px 3px #000;
}

.Movie-Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-width: medium;
    transition: all .2s ease-in-out
}

.Movie-Card:hover{
    border: solid rgb(141, 39, 39);
    border-width: medium;
}

.poster-image{
    height: auto;
    width: 145px;
    box-shadow: 3px 3px 3px #000;
    padding: auto;
}

img{
    position: relative;
    height: 200px
}

.MovieCardContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-large;
    font-weight: 400;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.ModalPoster{
    height: auto;
    width: 350px;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;
}



.individualMovieCard {
    height: auto;
}

.Card-header{
    font-family: 'Typo Square Bold Demo';
    font-weight: 500;
    color: 'black'

}

/* Movie Modal */

.Modal{
    background-color: rgb(7, 9, 44) ;
    border-style: groove;
    border: solid 1.5px;
}

.Modal-TitleBar{
    padding: 16px;
    border-bottom: 4px solid rgb(141, 39, 39);
    display: flex;
    justify-content: space-between;
}

.Modal-Title{
    color: white;
    font-size: 30px;
    font-family: 'Typo Square Bold Demo';
    font-weight: 400;
}

/*  Movie Details */

.plot{
    text-align: center;
    margin-bottom: 80px;
}

.movieTags{
    position: relative;
	margin: 10px;
	padding: 0;
}

.movieTags li{
    position: relative;
	list-style: none;
	display: inline-block;
	background-color: #ccc;
	margin: 15px 10px 5px 10px ;
	padding: 3px 7px;
	border-radius: 5px;
    box-shadow: 3px 5px 5px #000;
    color: #000;
}

/* Pagination */

/* .pagination{
    color: white;
}

.page-item{
    color: white;
    
}
.page-link{
    color: white;
} */